<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="./exercisePage.css" media="screen">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="#" class = "logo">Swole Patrol</a>
        <ul>
          <li>Home</li>
          <li>Workout History</li>
          <li>Workout Programs</li>
        </ul>
      </header>
      <button onclick="toShow()">Click for Random Cooking video</button>
      <div id="random_player"></div>
      <div>
      <table id="Recipies">
        <tr>
          <th>Recipie Name</th>
          <th>Ingredients</th>
        </tr>
        <tr>
          <td>Burger</td>
          <td>Beef</td>
        </tr>
      </table>
    </div>
    <h5>refresh for new video</h5>
</body>
</html>
