<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Exercise Form</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<link th:href="@{/css/test.css}" rel="stylesheet" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
	integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
	crossorigin="anonymous" 
	referrerpolicy="no-referrer" />
	<link th:href="@{/css/test.css}" rel="stylesheet" />
	
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/workout}"><strong>Workout Tracker</strong></a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end"
				id="navbarNav">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/workout_tips}"><strong>Workout
								Tips</strong></a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/logout}"><strong>Logout</strong></a>
					</li>
					<li class="nav-item"><i class="fa-solid fa-lightbulb"></i>
<input type="checkbox" id="darkToggle">
<label for="darkToggle"></label></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container text-center">
		<div>
			<h1>Add Exercise Page</h1>
		</div>
		<form th:action="@{/workout/saveExercise}" th:object="${exercise}"
			method="post" style="max-width: 600px; margin: 0 auto;">
			<div class="m-3">
				<div class="form-group row">
					<label class="col-4 col-form-label">Exercise Name: </label>
					<div class="col-8">
						<input type="text" th:field="*{exerciseType}" class="form-control"
							required />
					</div>
				</div>

				<div class="form-group row">
					<label class="col-4 col-form-label">Sets: </label>
					<div class="col-8">
						<select th:field="*{sets}" class="browser-default custom-select" aria-label="Default select example">
							<option selected th:each="num : ${#numbers.sequence(0, 100, 1)}"
								 th:value="${num}" th:text="${num}"></option>
						</select>
					</div>
				</div>


				<div class="form-group row">
					<label class="col-4 col-form-label">Reps: </label>
					<div class="col-8">
						<select th:field="*{reps}" class="browser-default custom-select" aria-label="Default select example">
							<option selected th:each="num : ${#numbers.sequence(0, 100, 1)}"
								 th:value="${num}" th:text="${num}"></option>
						</select>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-4 col-form-label">Weight: </label>
					<div class="col-8">
						<select th:field="*{weight}" class="browser-default custom-select" aria-label="Default select example">
							<option selected th:each="num : ${#numbers.sequence(0, 1000, 5)}"
								 th:value="${num}" th:text="${num}"></option>
						</select>
					</div>
				</div>
	
				<div>
					<button type="submit" class="btn btn-primary">Register Exercise</button>
								<input type="hidden"  th:field="*{exerciseId}"  />
								<input type="hidden"  th:field="*{workoutId}"  />
					
				</div>
			</div>
		</form>
	</div>
		<script src="../javascript/darkmode.js"></script>
	
</body>

</html>
