<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
		<link th:href="@{/css/exercisePage.css}" rel="stylesheet" />
	<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
	integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
	crossorigin="anonymous" 
	referrerpolicy="no-referrer" />
	<link th:href="@{/css/test.css}" rel="stylesheet" />
<title>Add Workout</title>
</head>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/workout}"><strong>Workout Tracker</strong></a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end"
				id="navbarNav">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/workout_tips}"><strong>Workout
								Tips</strong></a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/logout}"><strong>Logout</strong></a>
					</li>
					<li class="nav-item"><i class="fa-solid fa-lightbulb"></i>
<input type="checkbox" id="darkToggle">
<label for="darkToggle"></label></li>
				</ul>
			</div>
		</div>
	</nav>

<body>
	<div class= "container">
	
		<div><h2>Add Workout</h2></div>
		<form th:action="@{/workout/saveWorkout}" th:object="${workout}"
			method="POST">	
			
						<div class="form-group row">
					<label class="col-4 col-form-label">Workout Name: </label>
					<div class="col-8">
						<input type="text" th:field="*{workoutName}" class="form-control"
							required />
					</div>
				</div>
			
									<div class="form-group row">
					<label class="col-4 col-form-label">Workout Date: </label>
					<div class="col-8">
						<input type="date" th:field="*{date}" class="form-control"
							required />
					</div>
				</div>
		
			
			
			



			<button class="btn btn=primary" type="submit">Save</button>
			<input type="hidden" th:field="*{workoutId}" />
		</form>
		<a th:href="@{/workout/list}">Back To Dashboard</a>
	</div>
		<script src="../javascript/darkmode.js"></script>
	
</body>
</html>
<!-- 				<label class="col-4 col-form-label">Workout Name: </label>
				<input type="text"
				th:field="*{workoutName}"
				class="form-control col-4 mb-4"/> 
				
								<input type="date"
				th:field="*{date}"
				class="form-control col-4 mb-4" />
				
				
				-->