<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<title>Add Workout</title>
</head>
<body>
	<header>
		<a href="#" class="logo">Swole Patrol</a>
		<ul>
			<li><a th:href="@{/workout/registerworkout}">Add Workout</a></li>
			<li><a th:href="@{/workout/registerexercise}">Add Exercise</a></li>
			<li>Workout Programs</li>
		</ul>
	</header>
		
	<div class= "container">
	
		<div><h2>Add Workout</h2></div>
		<form th:action="@{/workout/saveWorkout}" th:object="${workout}"
			method="POST">	
				<input type="date"
				th:field="*{date}"
				th:text="${#dates.format(workout.date, 'MM-dd-yyyy')}"
				class="form-control col-4 mb-4" />

				<input type="text"
				th:field="*{workoutName}"
				class="form-control col-4 mb-4"/>

			<button class="btn btn=primary" type="submit">Save</button>
			<input type="hidden" th:field="*{workoutId}" />
		</form>
		<a th:href="@{/workout/list}">Back to list</a>
	</div>
</body>
</html>
