<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
    <link th:href="@{/css/exercisePage.css}"  rel="stylesheet" type="text/css"  media="screen"/>
    <title>Document</title>
</head>
<body>
    <header>
        <a href="#" class = "logo">Swole Patrol</a>
        <ul>
          <li>Home</li>
          <li>Workout History</li>
          <li>Workout Programs</li>
        </ul>
      </header>
      <div><span th:text = "${#authentication.getPrincipal().getFirstName()}"></span>'s Exercises</div>
      <div>
      <table id="exercises">
        <tr>
          <th>ExerciseS</th>
          <th>Sets</th>
          <th>Reps</th>
          <th>Weight</th>
          <th>Distance</th>
          <th>Time</th>
        </tr>
        <tr th:each="workout:${workout}">
          <td th:text="${workout.exerciseType.exerciseTypeName}"></td>
          <td th:text="${workout.sets}"></td>
          <td th:text="${workout.reps}"></td>
          <td th:text="${workout.distance}"></td>
          <td th:text="${workout.time}"></td>
          <td th:text="${workout.distance}"></td>
        </tr>
      </table>
    </div>
</body>
</html>
