<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="./exercisePage.css" media="screen">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="#" class = "logo">Swole Patrol</a>
        <ul>
          <li>Home</li>
          <li>Workout History</li>
          <li>Workout Programs</li>
        </ul>
      </header>
      <button onclick="toShow()">Click for Random Cooking video</button>
      <div id="random_player"></div>
      <div>
      <table id="exercises">
        <tr>
          <th>ExerciseS</th>
          <th>Sets</th>
          <th>Reps</th>
          <th>Weight</th>
          <th>Distance</th>
          <th>Time</th>
        </tr>
        <tr th:each="workout:${workout}">
          <td th:text="${workout.exerciseType.exerciseTypeName}"></td>
          <td th:text="${workout.sets}"></td>
          <td th:text="${workout.reps}"></td>
          <td th:text="${workout.distance}"></td>
          <td th:text="${workout.time}"></td>
          <td th:text="${workout.distance}"></td>
        </tr>
      </table>
    </div>
    <h5>refresh for new video</h5>
</body>
</html>
