<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Sign Up Form</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
		<link th:href="@{/css/exercisePage.css}" rel="stylesheet" />
	
</head>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"><strong>Workout Tracker</strong></a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end"
				id="navbarNav">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/workout_tips}"><strong>Workout
								Tips</strong></a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/logout}"><strong>Logout</strong></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
<body>
	<div class="container text-center">
		<div>
			<h1>User Registration - Sign Up</h1>
		</div>
		<form th:action="@{/process_register}" th:object="${user}"
			method="post" style="max-width: 600px; margin: 0 auto;">
			<div class="m-3">
				<div class="form-group row">
					<label class="col-4 col-form-label">E-mail: </label>
					<div class="col-8">
						<input type="email" th:field="*{email}" class="form-control"
							required />
					</div>
				</div>

				<div class="form-group row">
					<label class="col-4 col-form-label">Username: </label>
					<div class="col-8">
						<input type="text" th:field="*{username}" class="form-control"
							required />
					</div>
				</div>

				<div class="form-group row">
					<label class="col-4 col-form-label">Password: </label>
					<div class="col-8">
						<input type="password" th:field="*{password}" class="form-control"
							required minlength="6" maxlength="10" />
					</div>
				</div>

				<div class="form-group row">
					<label class="col-4 col-form-label">First Name: </label>
					<div class="col-8">
						<input type="text" th:field="*{firstName}" class="form-control"
							required minlength="2" maxlength="20" />
					</div>
				</div>

				<div class="form-group row">
					<label class="col-4 col-form-label">Last Name: </label>
					<div class="col-8">
						<input type="text" th:field="*{lastName}" class="form-control"
							required minlength="2" maxlength="20" />
					</div>
				</div>
				
			
			
				<div class="form-group row">
					<label class="col-4 col-form-label">Age: </label>
					<div class="col-8">
						<select th:field="*{age}" class="browser-default custom-select" aria-label="Default select example">
							<option selected th:each="num : ${#numbers.sequence(0, 100)}"
								 th:value="${num}" th:text="${num}"></option>
						</select>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-4 col-form-label">Weight: </label>
					<div class="col-8">
						<input type="text" th:field="*{weight}" class="form-control"
							required minlength="2" maxlength="20" />
					</div>
				</div>
				<div>
					<button type="submit" class="btn btn-primary">Sign Up</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>
<!-- 	<input type="text" th:field="*{age}" class="form-control" required
							minlength="2" maxlength="20" />  -->
