<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Workout Tips</title>
<link rel="stylesheet" href="style.css">
</head>
<body>

	<h1>1. Bodyweight Squat</h1>
	<p>Squatting is a basic movement necessary for everyday function
		(think of getting in and out of a desk chair). The Bodyweight Squat is
		a great exercise to engrain proper mechanics with minimal risk of
		injury while strengthening the quads and glutes.</p>
	<h1>2. Glute Bridge-Iso Hold</h1>
	<p>Proper glute engagement is so important for pain-free movement,
		especially in the knees and back. Glute Bridges are often part of a
		physical therapy regimen to decrease knee or back pain, but can double
		as a strength exercise for most. For an added challenge, try the
		movement with one leg.</p>
	<h1>3. Pushup</h1>
	<p>The Push-up is traditionally known for building strength in the
		chest and shoulders. It does this very well, however it also doubles
		as a great pillar and shoulder stability exercise. Simply holding the
		top of a push-up position forces the body to work against gravity with
		the emphasis on stabilizing the scapula and spine.</p>
	<h1>4. Split Squat</h1>
	<p>Split Squats-like traditional Squats-replicate a basic human
		movement while challenging the quads and glutes. Going from a
		half-kneeling to a standing position happens all the time. Training
		balance and strength through this process is key. Keeping the feet
		rooted for the entire movement vs. stepping in and out of a lunge
		takes some of the impact & eccentric load off the knee and hip, making
		it a perfect introductory movement.</p>
	<h1>5. Single-Leg Romanian Deadlift</h1>
	<p>Most training programs are light on engaging the posterior chain
		(the backside), especially in the lower body. The Inverted Hamstring/1
		Leg RDL activates the hamstrings, glutes, and postural muscles that
		can reverse some of the damage done by spending time in a seated
		position and hunched over a computer. It is also a great introductory
		exercise into training single leg balance.</p>
	<h1>6. Bent-over Single-Arm Dumbbell Row</h1>
	<p>This variation is fantastic for developing shoulder
		stabilization and balance limb strength across both sides. The
		tendency for most is to shrug the shoulders up causing the upper traps
		to act as primary movers. This can lead to shoulder pain and general
		dysfunction. Push the shoulders away from the ears to best utilize the
		lats, mid/low traps, and rhomboids. Using rows to balance the amount
		of time we spend in an internally rotated position of the shoulder is
		a great strategy to avoid issues.</p>
	<h1>7. Single-arm Half-kneeling Dumbbell Overhead Press</h1>
	<p>Focusing on unilateral (one limb) exercises is a great way to
		balance strength, stability and mobility. Completing the Overhead
		Press as a unilateral exercise in the half-kneeling position does this
		not only for the arms and shoulders, but the pillar as well. Using
		even a small weight shifts the body’s center of mass and forces the
		pillar to engage to keep you upright, turning a traditional
		delt-builder into a total body exercise.</p>
	<h1>8. Kettlebell Deadlift</h1>
	<p>Picking items off the ground is a crucial movement for everyone
		to train. Using a light kettlebell can reinforce proper position that
		will hopefully transfer outside the gym to avoid injury when bending
		at the hips. The key is to keep the spine straight and drive the
		glutes back, which loads the hips instead of the lumbar spine. If done
		correctly, the hamstrings, glutes, and back will all engage and
		strengthen.</p>
	<h1>9. “Quadruped” with Arm & Leg Lift</h1>
	<p>The Quadruped Arm and Leg Lift exercise has a dual purpose. The
		first is to strengthen the pillar and hip extensors. The second is to
		train the cross-patterning (opposing movement of the arms & legs) that
		comes so natural to the body when walking and running. Training the
		body to optimize this process can boost performance during a run or
		simply while walking around during the day.”</p>
	<h1>10. Reverse-grip Pulldown</h1>
	<p>Chin-ups/Pulldowns are great for reinforcing scapular control and
	latissimus dorsi engagement. The lats should be the primary movers, so
	emphasize pushing the shoulders down away from the ears when pulling.
	The reverse grip provides a more comfortable position for the rotator
	cuff, as getting into the externally rotated position of a traditional
	pulldown can be difficult for many.</p>

</body>
</html>